.logo {
    width: 40px;
    height: 40px;
    padding: none;
    padding-right: 8px;

}
.logo a {
    padding-left: 10px;
    padding: none;
}

.main-header {
    background-color: rgb(107, 153, 223);
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}

.main-header a {
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    line-height: 25px;
    color: rgb(255, 255, 255);
}

.menu-cliente {
    text-decoration: none;
    /* rgb(146, 142, 142) */
    background-color: rgb(107, 153, 223);
    margin: none;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}

.menu-cliente a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-right: 2px solid rgba(255, 255, 255, 0.87);
}

body {
    background-color: rgba(107, 104, 104, 0.65); /* cor de fundo da pagina */
    margin: 0;
    padding: none;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.sora-700{ /* fonte dos itens do header */
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lexend-400{ /* fonte dos itens do menu */
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}