.logo {
    width: 40px;
    height: 40px;
    padding: none;
    padding-right: 8px;

}
.logo a {
    padding-left: 10px;
    padding: none;
}

.main-header {
    background-color: rgb(107, 153, 223);
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}

.main-header a {
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    line-height: 25px;
    color: rgb(255, 255, 255);
}

.menu-cliente {
    text-decoration: none;
    /* rgb(146, 142, 142) */
    background-color: rgb(107, 153, 223);
    margin: none;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}

.menu-cliente a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-right: 2px solid rgba(255, 255, 255, 0.87);
}

.textos {
    color: black;
    padding-top: 0px;
    padding: 10px;
    padding-left: 20px;
    font-size: 25px;
}

.formulario {
    padding-left: 35px;
    width: 300px;
}

.formulario input {
    width: 100%;
    padding: 3px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario button {
    width: 90%;
    margin: 0 auto; /* Centraliza o botão horizontalmente */
    display: block;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.formulario button:hover,
.formulario-busca button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.formulario-busca {
    padding-left: 35px;
}

.formulario-busca input {
    margin-left: 5px;
    padding: 3px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario-busca button {
    margin-left: 5px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.formulario-busca select {
    margin-left: 5px;
    padding: 3px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario-busca select option {
    padding: 3px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.resultado {
    color: black;
    padding-top: 0px;
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
}

.tabela {
    font-size: 18px;
    overflow-x: auto;
    padding: 15px;
    padding-top: 0px;
}

.tabela th, .tabela td {
    padding: 10px;
    padding-top: 3px;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

.tabela th:last-child,
.tabela td:last-child {
    border-right: 1px solid #ffffff;
}

.tabela tr:last-child th,
.tabela tr:last-child td {
    border-bottom: 1px solid #ffffff;
}

.tabela tr:first-child th,
.tabela tr:first-child td {
    border-bottom: 1px solid #ffffff;
    
}

.tabela tr:first-child + tr th,
.tabela tr:first-child + tr td {
    border-top: none;
}

body {
    background-color: rgba(107, 104, 104, 0.45); /* cor de fundo da pagina */
    margin: 0;
    padding: none;
}

.permanent-marker-regular { /* fonte do logo */ 
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.sora-700{ /* fonte dos itens do header */
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lexend-400{ /* fonte dos itens do menu */
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lexend-300{ /* fonte dos itens do formulario */
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}