.logo {
    width: 40px;
    height: 40px;
    padding: none;
    padding-right: 8px;

}
.logo a {
    padding-left: 10px;
    padding: none;
}

.main-header {
    background-color: rgb(162, 156, 156);
    padding: 10px;
    padding-left: 20px;
}

.main-header a {
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    line-height: 25px;
}

.menu-cliente {
    text-decoration: none;
    /* rgb(146, 142, 142) */
    background-color: rgb(165, 162, 162);
    margin: none;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.87);
}

.menu-cliente a {
    text-decoration: none;
    /*color: rgba(255, 255, 255, 0.87);*/
    padding: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.87);
}

body {
    background-color: rgba(20, 20, 20, 0.65); /* cor de fundo da pagina */
    margin: 0;
    padding: none;
}