<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    {% include "estoque/partials/head.html" %}
    <title>{% block title %}Criar Produto | Estoque++{% endblock title %}</title>
</head>

<body>
    {% include "estoque/partials/header.html" %}
    {% include "estoque/partials/header-produtos.html" %}
    
    <h2 class="textos">Criar Produto:</h2>

    {% if mensagem %}
        <p class="textos">{{ mensagem }}</p>
    {% endif %}

    <form action="{% url 'criar_produtos' %}" method="POST" enctype="multipart/form-data" class="formulario lexend-300">
        {% csrf_token %}
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" required><br>

        <label for="preco">Preço:</label><br>
        <input type="number" id="preco" name="preco" step="0.01" min="0" required><br>

        <label for="quantidade">Quantidade:</label><br>
        <input type="number" id="quantidade" name="quantidade" min="0" required><br>

        <label for="descricao">Descrição:</label><br>
        <textarea id="descricao" name="descricao"></textarea><br>

        <label for="categoria">Categoria:</label><br>
        <input type="text" id="categoria" name="categoria"><br>

        <label for="marca">Marca:</label><br>
        <input type="text" id="marca" name="marca"><br>

        <label for="modelo">Modelo:</label><br>
        <input type="text" id="modelo" name="modelo"><br>

        <label for="imagem">Imagem:</label><br>
        <input type="file" id="imagem" name="imagem"><br>

        <button type="submit" class="lexend-300">Criar Produto</button>
    </form>

</body>
</html>

