<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    {% include "estoque/partials/head.html" %}
    <title>{% block title %}Clientes | Estoque++{% endblock title %}</title>
</head>

<body>
    {% include "estoque/partials/header.html" %}
    <div>
        <nav class="menu-cliente">
            <a href="/clientes/criar" class="lexend-400">Criar Cliente</a>
            <a href="/clientes/listar" class="lexend-400">Listar Clientes</a>
            <a href="/clientes/editar" class="lexend-400">Editar Clientes</a>
        </nav>
    </div>
    <p class="textos lexend-400">Total de clientes cadastrados: {{ total_clientes }}</p>
</body>
</html>