<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="{% static 'estoque/css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="header">
        <a href="/" ><img src="{% static '/estoque/img/logo.png' %}" class="logo" alt="Estoque">Estoque++</a>
        <a href="produtos.html">Produtos</a>
        <a href="vendas.html">Vendas</a>
        <a href="relatorios.html">Relatórios</a>
        </nav>
    </header>
    <main>
        </main>
</body>
</html>
