<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="{% static 'estoque/css/styles.css' %}">
</head>
<body>
    <header>
        <a href="/"><img src="logo.png" alt="Estoque"></a>
        

            <a href="produtos.html">Produtos</a>
            <a href="vendas.html">Vendas</a>
            <a href="relatorios.html">Relatórios</a>

    </header>
    <main>
        </main>
</body>
</html>
