<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    {% include "estoque/partials/head.html" %}
    <title>{% block title %}Criar Venda | Estoque++{% endblock title %}</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    {% include "estoque/partials/header.html" %}
    {% include "estoque/partials/header-vendas.html" %}
    
    <h2 class="textos">Criar Venda:</h2>

    {% if mensagem %}
        <p class="textos">{{ mensagem }}</p>
    {% endif %}

    <form action="{% url 'criar_venda' %}" method="POST" class="formulario lexend-300">
        {% csrf_token %}
        <div class="form-group">
            {{ form.cpf.label_tag }}
            {{ form.cpf }}
            <button id="buscarClienteBtn" type="button" class="lexend-300">Buscar Cliente</button>
        </div>

        <p>Dados do Cliente: </p>
        <div class="form-group">
            {{ form.nome_cliente.label_tag }}
            {{ form.nome_cliente }}
        </div>
        <div class="form-group">
            {{ form.endereco.label_tag }}
            {{ form.endereco }}
        </div>
        <div class="form-group">
            {{ form.cep.label_tag }}
            {{ form.cep }}
        </div>

        <p>Dados dos Produtos:</p>
        <div class="form-group">
            {{ form.produto_id.label_tag }}
            {{ form.produto_id }}
            <button id="buscarProdutoBtn" type="button">Buscar Produto</button>   
        </div>
        <div class="form-group">
            {{ form.produto_nome.label_tag }}
            {{ form.produto_nome }}
        </div>
        <div class="form-group">
            {{ form.produto_preco.label_tag }}
            {{ form.produto_preco }}
        </div>



        <p>Dados da Venda</p>
        <div class="form-group">
            {{ form.data.label_tag }}
            {{ form.data }}
        </div>
        <div class="form-group">
            {{ form.valor.label_tag }}
            {{ form.valor }}

        <button type="submit" class="lexend-300">Criar Venda</button>
    </form>
    
    <script>
        $(document).ready(function() {
            $('#buscarClienteBtn').click(function() {
                var cpf = $('#id_cpf').val();
                if (cpf) {
                    $.ajax({
                        url: "/buscar-cliente-venda/",  // URL correspondente à view buscar_cliente_venda
                        type: "GET",
                        data: {'valor': cpf},
                        success: function(response) {
                            if (!response.error) {
                                $('#id_nome_cliente').val(response.nome_cliente);
                                $('#id_endereco').val(response.endereco);
                                $('#id_cep').val(response.cep);
                            } else {
                                alert(response.error);
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            alert('Erro ao buscar cliente.');
                        }
                    });
                } else {
                    alert('Por favor, insira um CPF antes de buscar o cliente.');
                }
            });
        });

        $(document).ready(function() {
            $('#buscarProdutoBtn').click(function() {
                var produtoId = $('#id_produto').val();
                if (produtoId) {
                    $.ajax({
                        url: "/buscar-produto-venda/",  // URL correspondente à view para buscar o produto
                        type: "GET",
                        data: {'id': produtoId},
                        success: function(response) {
                            if (!response.error) {
                                $('#produtoDetalhes').html(response);
                            } else {
                                alert(response.error);
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            alert('Erro ao buscar produto.');
                        }
                    });
                } else {
                    alert('Por favor, insira o ID do produto antes de buscar.');
                }
            });
        });
    </script>

</body>
</html>