<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    {% include "estoque/partials/head.html" %}
    <title>{% block title %}Criar Venda | Estoque++{% endblock title %}</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    {% include "estoque/partials/header.html" %}
    {% include "estoque/partials/header-vendas.html" %}
    
    <h2 class="textos">Criar Venda:</h2>

    {% if mensagem %}
        <p class="textos">{{ mensagem }}</p>
    {% endif %}

    <form action="{% url 'criar_venda' %}" method="POST" class="formulario lexend-300">
        {% csrf_token %}
        <p>Dados do Cliente: </p>
        <div class="form-group">
            {{ form.cpf.label_tag }}
            {{ form.cpf }}
            <button id="buscarClienteBtn" type="button" class="lexend-300">Buscar Cliente</button>
        </div>
        <p></p>
        <div class="form-group">
            {{ form.nome_cliente.label_tag }}
            {{ form.nome_cliente }}
        </div>
        <div class="form-group">
            {{ form.endereco.label_tag }}
            {{ form.endereco }}
        </div>
        <div class="form-group">
            {{ form.cep.label_tag }}
            {{ form.cep }}
        </div>

        <p>Dados dos Produtos:</p>
        <div class="form-group">
            {{ form.produto_id.label_tag }}
            {{ form.produto_id }}
            <button id="buscarProdutoBtn" class="lexend-300" type="button">Buscar Produto</button>   
        </div>
        <p></p>
        <div class="form-group">
            {{ form.produto_nome.label_tag }}
            {{ form.produto_nome }}
        </div>
        <div class="form-group">
            {{ form.produto_preco.label_tag }}
            {{ form.produto_preco }}
        </div>
        <div class="form-group">
            {{ form.produto_estoque.label_tag }}
            {{ form.produto_estoque }}
        </div>

        <p>Dados da Venda:</p>
        <div class="form-group">
            {{ form.data.label_tag }}
            {{ form.data }}
        <div class="form-group">
            {{ form.quantidade.label_tag }}
            {{ form.quantidade }}
        </div>
        <div class="form-group">
            {{ form.preco_total.label_tag }}
            {{ form.preco_total }}
        </div>
        <div class="form-group">
            {{ form.desconto.label_tag }}
            {{ form.desconto }}
        </div>
        <div class="form-group">
            {{ form.forma_pagamento.label_tag }}
            {{ form.forma_pagamento }}
        </div>
        <p></p>
        <button type="submit" class="lexend-300">Criar Venda</button>
    </form>
    
    <script>
        $(document).ready(function() { // Script para buscar cliente a partir do CPF
            $('#buscarClienteBtn').click(function() {
                var cpf = $('#id_cpf').val();
                if (cpf) {
                    $.ajax({
                        url: "/buscar-cliente-venda/",  // URL correspondente à view buscar_cliente_venda
                        type: "GET",
                        data: {'valor': cpf},
                        success: function(response) {
                            if (!response.error) {
                                $('#id_nome_cliente').val(response.nome_cliente);
                                $('#id_endereco').val(response.endereco);
                                $('#id_cep').val(response.cep);
                            } else {
                                alert(response.error);
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            alert('Erro ao buscar cliente.');
                        }
                    });
                } else {
                    alert('Por favor, insira um CPF antes de buscar o cliente.');
                }
            });
        });

        $(document).ready(function() { // Script para buscar o produto a partir do ID
            $('#buscarProdutoBtn').click(function() {
                var produtoId = $('#id_produto_id').val();
                if (produtoId) {
                    $.ajax({
                        url: "/buscar-produto-venda/",  // URL correspondente à view para buscar o produto
                        type: "GET",
                        data: {'id': produtoId},
                        success: function(response) {
                            if (!response.error) {
                                // Preencher os campos do formulário com os dados do produto
                                $('#id_produto_nome').val(response.nome);
                                $('#id_produto_preco').val(response.preco);
                                $('#id_produto_estoque').val(response.estoque);
                            } else {
                                alert(response.error);
                            }
                        },
                        error: function(xhr, errmsg, err) {
                            alert('Erro ao buscar produto.');
                        }
                    });
                } else {
                    alert('Por favor, insira o ID do produto antes de buscar.');
                }
            });
        });

        $(document).ready(function() { // Script para calcular o preço total da venda
            $('#id_quantidade, #id_desconto').on('input', function() {
                var quantidade = parseInt($('#id_quantidade').val());
                var estoque = parseInt($('#id_produto_estoque').val());
                var precoUnitario = parseFloat($('#id_produto_preco').val());
                var desconto = parseFloat($('#id_desconto').val());

                if (!isNaN(quantidade) && !isNaN(precoUnitario)) {
                    if (quantidade > estoque) {
                        alert('Quantidade excede o estoque disponível.');
                        $('#id_quantidade').val(''); // Limpar o campo de quantidade
                    } 
                    else if (quantidade <= 0) {
                        alert('Quantidade deve ser um valor positivo.');
                        $('#id_quantidade').val(''); // Limpar o campo de quantidade
                    }
                    else {
                        var precoTotal = quantidade * precoUnitario;
                        if (!isNaN(desconto)) {
                            if(desconto >= 0 && desconto <= 100){
                                var precoComDesconto = precoTotal * (1 - desconto / 100);
                                $('#id_preco_total').val(precoComDesconto.toFixed(2));
                            }
                            else{
                                alert('Desconto deve ser um valor entre 0 e 100.');
                                $('#id_desconto').val(''); // Limpar o campo de desconto
                            }
                        }
                        else {
                            $('#id_preco_total').val(precoTotal.toFixed(2));
                        }
                    }
                }
            });
        });
    </script>

</body>
</html>