<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% load static %}{% static 'estoque/css/styles.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Permanent+Marker&family=Sora:wght@100..800&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="{% static '/estoque/img/logo.png' %}">